<h1>Edit {{pirates.name}}</h1>

<form method="POST" action="/pirates/{{id}}?_method=PUT">
	<label for="name">Name:</label>
	<input name="name"></input>
	<br />
	<label for="birthplace">Birthplace:</label>
	<input name="birthplace"></input>
	<br />
	<label for="death_year">Death year:</label>
	<input name="death_year"></input>
	<br />
	<label for="base">Base:</label>
	<input name="base"></input>
	<br />
	<label for="nickname">Nickname:</label>
	<input name="nickname"></input>
	<br />
	<div>
	<button>Give this Carouser a new name!</button>
	</div>
</form>