
<h1>Me needs a name!</h1>

<form method="POST" action="/pirates">

	<label for="name">Name:</label>
	<input name="name"></input>

	<br />
	<label for="birthplace">Birthplace:</label>
	<input name="birthplace"></input>

	<br />
	<label for="death_year">Year of death:</label>
	<input name="death_year"></input>

	<br />
	<label for="base">Base:</label>
	<input name="base"></input>

	<br />
	<label for="nickname">Nickname:</label>
	<input name="nickname"></input>

	<br />

	<div>
	<button>Submit</button>
	</div>

</form>

<br />

<a href="/pirates">Go back!</a>